<a href="https://colab.research.google.com/github/TarelkinaAnastasia/classwork/blob/main/car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
df = pd.read_excel('trips_data_for_ML.xlsx', index_col=0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 24 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   salary                                    1000 non-null   int64
 1   age                                       1000 non-null   int64
 2   family_members                            1000 non-null   int64
 3   target                                    1000 non-null   object
 4   city_Екатеринбург                         1000 non-null   int64
 5   city_Киев                                 1000 non-null   int64
 6   city_Краснодар                            1000 non-null   int64
 7   city_Минск                                1000 non-null   int64
 8   city_Москва                               1000 non-null   int64
 9   city_Новосибирск                          1000 non-null   int64
 10  city_Омск                                 1000 non-null   int64
 11  city_Петербург                            1000 non-null   int64
 12  city_Томск                                1000 non-null   int64
 13  city_Хабаровск                            1000 non-null   int64
 14  city_Ярославль                            1000 non-null   int64
 15  vacation_preference_Архитектура           1000 non-null   int64
 16  vacation_preference_Ночные клубы          1000 non-null   int64
 17  vacation_preference_Пляжный отдых         1000 non-null   int64
 18  vacation_preference_Шоппинг               1000 non-null   int64
 19  transport_preference_Автомобиль           1000 non-null   int64
 20  transport_preference_Космический корабль  1000 non-null   int64
 21  transport_preference_Морской транспорт    1000 non-null   int64
 22  transport_preference_Поезд                1000 non-null   int64
 23  transport_preference_Самолет              1000 non-null   int64
dtypes: int64(23), object(1)
memory usage: 195.3+ KB

In [ ]:
df.head()

,salary,age,family_members,target,city_Екатеринбург,city_Киев,city_Краснодар,city_Минск,city_Москва,city_Новосибирск,...,city_Ярославль,vacation_preference_Архитектура,vacation_preference_Ночные клубы,vacation_preference_Пляжный отдых,vacation_preference_Шоппинг,transport_preference_Автомобиль,transport_preference_Космический корабль,transport_preference_Морской транспорт,transport_preference_Поезд,transport_preference_Самолет
0,196000,25,1,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,152000,60,1,London,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,83000,49,2,Sydney,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,161000,41,0,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,146000,58,1,Sydney,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [ ]:
signs = df.drop('target', axis = 1)
result = df['target']

In [ ]:
model = RandomForestClassifier()

In [ ]:
lr = LogisticRegression()

In [ ]:
model.fit(signs, result)

RandomForestClassifier()

In [ ]:
lr.fit(signs, result)

LogisticRegression()

In [ ]:
example = {'age': [31],
 'city_Екатеринбург': [0],
 'city_Киев': [0],
 'city_Краснодар': [1],
 'city_Минск': [0],
 'city_Москва': [0],
 'city_Новосибирск': [0],
 'city_Омск': [0],
 'city_Петербург': [0],
 'city_Томск': [0],
 'city_Хабаровск': [0],
 'city_Ярославль': [0],
 'family_members': [0],
 'salary': [130000],
 'transport_preference_Автомобиль': [1],
 'transport_preference_Космический корабль': [0],
 'transport_preference_Морской транспорт': [0],
 'transport_preference_Поезд': [0],
 'transport_preference_Самолет': [0],
 'vacation_preference_Архитектура': [0],
 'vacation_preference_Ночные клубы': [0],
 'vacation_preference_Пляжный отдых': [0],
 'vacation_preference_Шоппинг': [1]}

In [ ]:
example_df = pd.DataFrame(example)

In [ ]:
example_df

,age,city_Екатеринбург,city_Киев,city_Краснодар,city_Минск,city_Москва,city_Новосибирск,city_Омск,city_Петербург,city_Томск,...,salary,transport_preference_Автомобиль,transport_preference_Космический корабль,transport_preference_Морской транспорт,transport_preference_Поезд,transport_preference_Самолет,vacation_preference_Архитектура,vacation_preference_Ночные клубы,vacation_preference_Пляжный отдых,vacation_preference_Шоппинг
0,31,0,0,1,0,0,0,0,0,0,...,130000,1,0,0,0,0,0,0,0,1

In [ ]:
pred = model.predict(example_df)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [ ]:
print("вЫ............пОедЕТе........в....", *pred, sep = "..")

вЫ............пОедЕТе........в......New York

In [ ]:
model.feature_importances_

NameError: ignored

AttributeError: ignored

ValueError: ignored

In [ ]:
sklearn.metrics.roc_auc_score([0, 0, 0, 1, 1, 1, 0], [0.5, 0.1, 0.2, 0.6, 0.2, 0.3, 0.0])

0.7916666666666666